/*----------------------------------------------------------------------------------------------------*/
/*                                            MAIN                                                  */
/*----------------------------------------------------------------------------------------------------*/

/*Div do formulário*/
.formulario{
    background-color: white;
    height: 600px;
    width: 400px;
    border: #979797 solid 1px;
    border-radius: 20px;
}

/*Título*/
.formulario h1{
    text-align: center;
    align-content: center;
    margin: 15px 0;
}

/*Linha*/
.formulario hr{
    width: 400px; 
}

/*Formulário*/
form {
    height: 80%;
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

/*Rótulo do formulário*/
form label {
    font-size: 18px;
    margin: 0 5px;
}

/*Áreas de entrada de dados do formulário*/
form input {
    background-color: rgb(253, 253, 253);
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: solid 1px gray;
    border-radius: 5px;
}

/*Botão do formulário*/
form button{
    align-self: center;
    background-color: #f08000;
    color: white;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

/*Acontece quando o mouse está sobre o botão*/
form button:hover{
    background-color: #ffa500;
    cursor: pointer;
}
