/*----------------------------------------------------------------------------------------------------*/
/*                                            MAIN                                                    */
/*----------------------------------------------------------------------------------------------------*/

/*----------------------SLIDER---------------------------*/

/*Container do slider*/
.slider {
    display: block;
    height: 200px;
    width: 100%;
    position: relative;
}

/*Lista de imagens do slider*/
.slider li {
    width: 100%;
    list-style: none;
    position: absolute;
}

/*Imagem do slider*/
.slider li img {
    height: 100%;
    width: 100%;
    margin: auto;
    vertical-align: top;
    /*Deixa a imagem invisível*/
    opacity: 0;
    /*Deixa a imagem invisível*/
    visibility: hidden;
    /*Tempo de transição da imagem do slider*/
    transition: 1.5s;
}

.slider input {
    /*Esconde o botão de radio*/
    display: none;
}

/*Botão de radio*/

.slider label {
    position: absolute;
    cursor: pointer;
    /*Cor do botão de radio*/
    background-color: white;
    display: block;
    height: 5px;
    width: 30px;
    z-index: 10;
    border-radius: 5px;
}

/*Posicionamento do botão de radio*/

.slider li:nth-child(1) label {
    /*Determina o local do botão de radio*/
    left: 350px;
    /*Faz com que o botão fique centralizado verticalmente*/
    bottom: 10px;
}

/*Posicionamento do botão de radio*/

.slider li:nth-child(2) label {
    /*Determina o local do botão de radio*/
    left: 390px;
    /*Faz com que o botão fique centralizado verticalmente*/
    bottom: 10px;
}

/*Posicionamento do botão de radio*/

.slider input:checked~img {
    /*Quando o botão está checado, deixa a imagem visivel*/
    opacity: 1;
    /*Quando o botão está checado, deixa a imagem visivel*/
    visibility: visible;
    z-index: 10;
}

/*Muda a cor do botão de radio quando está checado*/
.slider input:checked~label {
    background-color: #000000;
    /*Tempo de transição da cor do botão de radio*/
    transition: 1.5s;
}

/* Classe das setas do carros */
.slider .seta-carrosel {
    position: absolute;
    height: 25px;
    width: 25px;
    /* Torna as setas vísiveis */
    opacity: 1;
    visibility: visible;
    /* Deixa a imagem acima dos outros elementos do slider */
    z-index: 1;
    cursor: pointer;
}

.slider #seta-direita {
    /* alinhando seta */
    top: 47%;
    right: 2%;
}

.slider #seta-esquerda {
    /* Girando a seta para ficar à esquerda */
    transform: rotate(0.5turn);
    /* alinhando seta */
    top: 47%;
    left: 2%;
}


/*----------------------CARD---------------------------*/


/*Container principal dos cards, serve para alinhar o título e o container-card*/
.main-card {
    margin: 50px 120px;
}

/*Título dos cards*/
.main-card h1 {
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

/*Container dos cards*/
.container-card {
    width: 100%;
    height: 300px;

    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 1;
    grid-template-areas: 'div div div div';
    gap: 0 10px;
}

/*Propriedades do card*/
.container-card .card {
    padding: 10px;
    /* espaçamento interno*/
    background-color: white;
    /*Cor do card*/
    border-radius: 10px;
    /*Borda do card*/
    box-shadow: 2px 5px 10px 0px #0004;
    /*Sombra do card*/
    transition: 0.3s;
    /*Tempo de transição do card*/
    display: flex;
    flex-direction: column;
}

.container-card .card p {
    margin: 10px 0;
    font-size: 16px;
    color: rgb(41, 41, 41);
}

/*Preço do card*/
.container-card .card h3 {
    margin: 20px 0;
    font-size: 20px;
    color: orangered;
}

.container-card .card img {
    align-self: center;
    width: 90%;
    height: 55%;
    margin: 10px 0;
    cursor: pointer;
    /*Muda o cursor para a mãozinha quando passa por cima da imagem*/
}

.container-card .card:hover {
    /*Cor da borda do card*/
    border: #ffa500 solid 3px;
}

.btn-carrinho {
    width: 100%;
    height: 50px;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 800;
}

.btn-comprar {
    width: 100%;
    height: 50px;
    background-color: rgb(60, 107, 60);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 10px;
}