/*----------------------------------------------------------------------------------------------------*/
/*                                              FONTES                                                */
/*----------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: "Intro Rust";
    src: url(../fonts/IntroRust.otf);
}

/*----------------------------------------------------------------------------------------------------*/
/*                                       CONFIGURAÇÕES PADRÃO                                         */
/*----------------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    height: 145px;
    background-color: #ffa500;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    height: 75px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

main {
    height: 800px;
    background-color: whitesmoke;
}

/*----------------------------------------------------------------------------------------------------*/
/*                                            HEADER                                                  */
/*----------------------------------------------------------------------------------------------------*/

/*Div de busca*/
.caixaBusca {
    display: flex;
    align-items: center;
    height: 40px;
    width: 600px;
    background-color: white;
    padding: 0 10px;
    gap: 5px;
    border-radius: 10px;
}

/*Form de busca*/
.caixaBusca .busca {
    height: 100%;
    width: 100%;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

/*Visibilidade do input*/
.caixaBusca input.busca:focus-visible {
    outline: none;
}

/*Ícone de busca*/
.caixaBusca .lupaBusca {
    cursor: pointer;
}

/* div dos links do header */
.links-header {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

/*Ícones e links do header*/
.icones-header {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer;

    font-family: "Intro Rust";
    /* font intro rust*/
    font-size: 14px;
}



/*----------------------------------------------------------------------------------------------------*/
/*                                             NAV                                                    */
/*----------------------------------------------------------------------------------------------------*/

/*Container do nav*/
.container-menu {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: space-around;

    font-family: "Intro Rust";
    /* font intro rust*/
    font-size: 14px;
}

/*Menu do nav*/
.menu {
    width: 100%;
    /*Faz com que a lista ocupe todo o espaço do nav*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*Itens do menu*/
.menu li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
    /*Faz com que as opções dos menus tenham o mesmo tamanho*/
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
}

/*Ocorre quando o mouse está sobre a opção do menu*/
.menu li:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
    list-style-type: none;
}

/*Links do menu*/
.menu li a {
    text-decoration: none;
    color: white;
}

/*------------------ DROPDOWN ----------------------*/

/*Menu de categorias*/
.dropdown {
    position: relative;
    display: block;
    cursor: pointer;
    gap: 5px;
    height: 100%;
    width: 200px;
    z-index: 1;
    text-align: center;
    /*Faz com que o texto fique horizontalmente no meio do item*/
}

.texto-dropdown {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Icone menu*/
.dropdown .dropdown-icon {
    display: inline-block;
    vertical-align: middle;
    top: 50%;
    /*Faz com que o icone fique no meio do item*/
    transform: translateY(90%);
    /*Faz com que o icone fique no meio do item*/
}

.dropdown .dropdown-categorias {
    display: inline-block;
    vertical-align: middle;
    top: 50%;
    /*Faz com que o texto fique no meio do item*/
    transform: translateY(100%);
    /*Faz com que o texto fique no meio do item*/
}

/*Conteudo do dropdown*/
.dropdown .dropdown-conteudo {
    display: none;
    position: absolute;
    background-color: rgb(44, 44, 44);
    min-width: 100%;
    line-height: normal;
    top: 100%;
    /*Faz com que o conteudo do dropdown fique abaixo do item*/
    border-bottom-left-radius: 10px;
    /*borda redonda no canto inferior direito*/
    border-bottom-right-radius: 10px;
    /*borda redonda no canto inferior esquerdo*/
}

.dropdown-conteudo li {
    list-style: none;
    border-top: #000000 solid 1px;
}

/*Itens do dropdown*/
.dropdown-conteudo a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    width: 100%;
}

/*Quando o mouse passa sobre o Categorias, mostra o conteudo do dropdown*/
.dropdown:hover .dropdown-conteudo {
    display: block;
}

/*Muda a cor do fundo do item quando passa o mouse por cima*/
.dropdown-conteudo a:hover {
    background-color: #747474;
}

/*Muda o fundo de categorias quando passa o mouse em cima*/
.dropdown:hover {
    background-color: rgb(17, 17, 17);
}

/*Ocorre quando o mouse está sobre o último elemento do dropdown*/
.dropdown-conteudo li:nth-child(5) a:hover {
    border-bottom-left-radius: 10px;
    /*borda redonda no canto inferior direito*/
    border-bottom-right-radius: 10px;
    /*borda redonda no canto inferior esquerdo*/
}

/*----------------------------------------------------------------------------------------------------*/
/*                                            FOOTER                                                  */
/*----------------------------------------------------------------------------------------------------*/


/*Container do footer*/
.container-footer {
    height: auto;
    background-color: white;
    padding: 20px 100px;
    box-shadow: 1px 1px 1px 1px black;
    /* sombra do footer*/

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
    grid-template-areas: '.footer-contatos .footer-info';
    gap: 20px;
}

/* Contatos */
.footer-contatos {
    background-color: rgb(212, 208, 208);
    border-radius: 20px;
    height: 150px;
    padding: 10px;
}

.footer-contatos h2 {
    max-width: fit-content;
    margin: 0 auto 25px auto;
}

.list-contatos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.list-contatos li {
    background-color: black;
    list-style: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.list-contatos li img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.footer-info {
    background-color: rgb(212, 208, 208);
    border-radius: 20px;
}

/*Referencias do footer*/
.footer-info #refs {
    color: rgb(37, 37, 37);
    margin: 10px 0;
}

/*Paragrafos do footer*/
.footer-info p {
    margin: 0 20px;
    color: rgb(37, 37, 37);
    text-align: center;
}

/*Links do footer*/
.footer-info p a {
    color: #000000;
    text-decoration: none;
}

/*
Adicionar:
propriedade scroll-behavior, que define o scroll de um elemento
@media screen para implementar responsividade
-webkit-text-stroke para especificar a largura e a cor dos traços dos caracteres de texto.
transform permite girar, dimensionar, inclinar ou traduzir um elemento.
*/

/* OFF CANVAS CARRINHO */

.off-canvas {
    height: 100%;
    width: 0px;
    position: fixed;
    /* Deixa a frente da página*/
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    /* Desabilita scroll vertical */
    overflow-x: hidden;
    /* 0.3 segundos de transição */
    transition: 0.3s;    
}

.off-canvas h2{
    font-family: "Intro Rust";
    margin-bottom: 30px;
}

.closeIconContainer{
    display: flex;
    justify-content: end;
}

.closeIconContainer .closebtn{
    font-size: 50px;
    text-decoration: none;
    color: #000000;
}