* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    height: 20vh;
    background-color: #ffa500;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

main {
    height: 100vh;
    background-color: whitesmoke;
}

footer {
    height: 30vh;
    background-color: black;
}

/*----------------------------------------------------------------------------------------------------*/
/*                                            HEADER                                                  */
/*----------------------------------------------------------------------------------------------------*/

/*Div de busca*/
.caixaBusca {
    display: flex;
    align-items: center;
    height: 40px;
    width: 600px;
    background-color: white;
    padding: 0 10px;
    gap: 5px;
    border-radius: 10px;
}

/*Form de busca*/
.caixaBusca .busca {
    height: 100%;
    width: 100%;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

/*Visibilidade do input*/
.caixaBusca input.busca:focus-visible {
    outline: none;
}

/*Ícone de busca*/
.caixaBusca .lupaBusca {
    cursor: pointer;
}

/*Ícone e link do cadastro*/
.cadastroIcon {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}



/*----------------------------------------------------------------------------------------------------*/
/*                                             NAV                                                    */
/*----------------------------------------------------------------------------------------------------*/

/*Container do nav*/
.container-menu {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: space-around;
}

/*Menu do nav*/
.menu {
    width: 100%;
    /*Faz com que a lista ocupe todo o espaço do nav*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*Itens do menu*/
.menu li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
    /*Faz com que as opções dos menus tenham o mesmo tamanho*/
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
}

/*Ocorre quando o mouse está sobre a opção do menu*/
.menu li:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}

/*Links do menu*/
.menu li a {
    text-decoration: none;
    color: white;
}

/*Menu de categorias*/
.dropdown {
    position: relative;
    display: block;
    cursor: pointer;
    gap: 5px;
    height: 100%;
    width: 200px;
    z-index: 1;
    text-align: center;
    /*Faz com que o texto fique horizontalmente no meio do item*/
}

/*Icone menu*/
.dropdown .dropdown-icon {
    display: inline-block;
    vertical-align: middle;
    top: 50%;
    /*Faz com que o icone fique no meio do item*/
    transform: translateY(90%);
    /*Faz com que o icone fique no meio do item*/
}

.dropdown .dropdown-categorias {
    display: inline-block;
    vertical-align: middle;
    top: 50%;
    /*Faz com que o texto fique no meio do item*/
    transform: translateY(100%);
    /*Faz com que o texto fique no meio do item*/
}

/*Conteudo do dropdown*/
.dropdown .dropdown-conteudo {
    display: none;
    position: absolute;
    background-color: rgb(17, 17, 17);
    min-width: 100%;
    line-height: normal;
    top: 100%;
    /*Faz com que o conteudo do dropdown fique abaixo do item*/
}

/*Itens do dropdown*/
.dropdown .dropdown-conteudo a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    width: 100%;
}

/*Quanod o mouse passa sobre o Categorias, mostra o conteudo do dropdown*/
.dropdown:hover .dropdown-conteudo {
    display: block;
}

/*Muda a cor do fundo do item quando passa o mouse por cima*/
.dropdown-conteudo a:hover {
    background-color: #979797;
}

/*Muda o fundo de categorias quando passa o mouse em cima*/
.dropdown:hover {
    background-color: rgb(17, 17, 17);
}

/*----------------------------------------------------------------------------------------------------*/
/*                                            MAIN                                                    */
/*----------------------------------------------------------------------------------------------------*/

/*SLIDER*/

/*Container do slider*/
.slider {
    display: block;
    height: 200px;
    width: 100%;
    position: relative;
}

/*Lista de imagens do slider*/
.slider li {
    list-style: none;
    position: absolute;
}

/*Imagem do slider*/
.slider li img {
    height: 100%;
    width: 100%;
    margin: auto;
    vertical-align: top;    
    opacity: 0;  /*Deixa a imagem invisível*/
    visibility: hidden; /*Deixa a imagem invisível*/
    transition: 1.5s; /*Tempo de transição da imagem do slider*/
}

.slider input {
    display: none; /*Esconde o botão de radio*/
}

/*Botão de radio*/
.slider label {
    position: absolute;
    cursor: pointer;
    background-color: white /*Cor do botão de radio*/;
    display: block;
    height: 20px;    
    width: 20px;
    z-index: 10;
    border-radius: 50px;
}

/*Posicionamento do botão de radio*/
.slider li:nth-child(1) label{
    left: 20px; /*Determina o local do botão de radio*/
    bottom: 10px; /*Faz com que o botão fique centralizado verticalmente*/
}

/*Posicionamento do botão de radio*/
.slider li:nth-child(2) label{
    left: 50px; /*Determina o local do botão de radio*/
    bottom: 10px; /*Faz com que o botão fique centralizado verticalmente*/
}

/*Posicionamento do botão de radio*/
.slider input:checked ~ img{
    opacity: 1;  /*Quando o botão está checado, deixa a imagem visivel*/
    visibility: visible; /*Quando o botão está checado, deixa a imagem visivel*/
    z-index: 10;
}

/*Muda a cor do botão de radio quando está checado*/
.slider input:checked ~ label{
    background-color: #000000; 
    transition: 1.5s; /*Tempo de transição da cor do botão de radio*/
}

/*CARD*/

/*Container principal dos cards, serve para alinhar o título e o container-card*/
.main-card{
    padding: 20px 50px;
}
 
/*Título dos cards*/
.main-card h2{
    margin-bottom: 20px;
}

/*Container dos cards*/
.container-card{
    display: flex;
    justify-content: start;    
}

/*Propriedades do card*/
.container-card .card{
    width: 250px;
    height: 300px;
    margin: 0 5px; 
    padding: 10px;
    background-color: white; /*Cor do card*/
    border-radius: 10px; /*Borda do card*/
    box-shadow: 2px 5px 10px 0px #0004; /*Sombra do card*/
    transition: 0.3s; /*Tempo de transição do card*/
    display: flex;
    flex-direction: column;
}

/*Preço do card*/
.container-card .card h3{
    margin: 10px 0;
    color:orangered;    
}

.container-card .card img{
    align-self: center;    
    width: 90%;
    height: 50%;
    margin: 10px 0;
    cursor: pointer; /*Muda o cursor para a mãozinha quando passa por cima da imagem*/
}

.container-card .card:hover{
    transform: scale(1.05); /*Efeito de zoom no card*/
    transition: 0.3s; /*Tempo de transição do card*/
    border: #ffa500 solid 5px; /*Cor da borda do card*/
}


/*----------------------------------------------------------------------------------------------------*/
/*                                            FOOTER                                                  */
/*----------------------------------------------------------------------------------------------------*/

/*Container do footer*/
.container-footer {
    padding: 20px 100px;
}

/*Referencias do footer*/
.container-footer h3 {
    color: white;
    margin-bottom: 10px;
}

/*Lista de referencias do footer*/
.referencias li a {
    color: white;
    text-decoration: none;
}