*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    height: 20vh;
    background-color: orange;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    height:10vh;  
    background-color: black;    
    color: white;
    display: flex;
    justify-content: center;
}

main{
    height: 80vh;
}

footer{
    height: 30vh;
    background-color: black;
}

/*HEADER*/

/*Div de busca*/
.caixaBusca{
    display: flex;
    align-items: center;
    height: 40px;
    width: 600px;
    background-color: white; 
    padding: 0 10px;
    gap: 5px;
    border-radius: 10px;
}

/*Form de busca*/
.caixaBusca .busca{
    height: 100%;
    width: 100%;
    font-size: 14px;
    border: none;
    background-color: transparent;    
}

/*Visibilidade do input*/
.caixaBusca input.busca:focus-visible {
    outline: none;
}

/*Ícone de busca*/
.caixaBusca .lupaBusca{
    cursor: pointer;
}

/*Ícone de cadastro*/
.cadastroIcon{        
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Link do cadastro*/
.cadastroIcon a{
    color: black;
    text-decoration: none;
}

/*NAV*/

nav .container-menu{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: space-around;
}

/*Menu do nav*/
 nav .menu{
    width: 100%; /*Faz com que a lista ocupe todo o espaço do nav*/    
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;    
 }

/*Itens do menu*/
nav .menu li{
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%; /*Faz com que as opções dos menus tenham o mesmo tamanho*/
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
}

/*Ocorre quando o mouse está sobre a opção do menu*/
nav .menu li:hover{
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}

/*Links do menu*/
nav .menu li a{
text-decoration: none;
color: white;
}

/*Menu de categorias*/
nav .dropdown{
    position: relative;    
    display: block;
    cursor: pointer;
    gap: 5px;
    height: 100%;
    width: 200px;
    z-index: 1;
}

/*Icone menu*/


/*Conteudo do dropdown*/
nav .dropdown .dropdown-conteudo{
    display: none;
    position: absolute;
    background-color: #757575;
    min-width: 100%;    
}

/*Itens do dropdown*/
nav .dropdown .dropdown-conteudo a{
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: black;    
    width: 100%;
}

/*Quanod o mouse passa sobre o Categorias, mostra o conteudo do dropdown*/
.dropdown:hover .dropdown-conteudo {
    display: block;
}

/*Muda a cor do fundo do item quando passa o mouse por cima*/
.dropdown-conteudo a:hover{
    background-color: #979797;
}

/*Muda o fundo de categorias quando passa o mouse em cima*/
.dropdown:hover{
    background-color: rgb(17, 17, 17);
}
    
    
